.api-key {
  background: var(--dark-4);
  border-radius: 1em;
  color: var(--white);
  margin-top: var(--gutter-md);
  padding: var(--gutter-md);
  & h3 {
    margin-top: 0;
  }
  & h3 .bp3-icon {
    margin-right: 0.5em;
    opacity: 0.75;
    vertical-align: bottom;
  }
  & input, & button {
    margin: 0.2em 0;
  }
  & input::placeholder {
    color: var(--light-3);
  }
  & hr {
    border: 1px solid var(--dark-2);
  }
}
