.country-selector {
  cursor: pointer;
  pointer-events: all;

  & .flag-icon {
    width: 1.5rem;
    margin: 5px;
    padding: 0px;
  }

  & .covid-tooltip {
    display: flex;

    & .flag-icon {
      width: 1.5rem;
      margin: 5px;
      padding: 0px;
    }
  }
}

@media (max-width: 2560px) {
  .country-selector {
    & .flag-icon {
      width: 2.3rem;
    }
  }
}
