.footer {
  color: var(--light-2);
  margin: 0;
  padding-top: var(--gutter-lg);
  padding-bottom: var(--gutter-lg);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  -webkit-font-smoothing: antialiased;
  
  & .container {
    max-width: 770px;
    z-index: 99;
  }
  & a {
    color: var(--gray);
  }

  & .license {

  }
}
