.footer {
  /* theming */
  background-color: var(--dark-2);
  color: var(--light-3);
  /* sizing */
  margin: 0;
  padding-top: var(--gutter-lg);
  padding-bottom: var(--gutter-lg);
  /* layout */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* prevent from breaking on small screens */
  /* positioning */
  z-index: 1; /* in front of home page ring */

  & .container {
    width: var(--container-width);
    max-width: 100%;
  }
  & a {
    color: var(--white);
    font-weight: 400;
  }
}

.locale-options {
  /* reset list defaults */
  padding-left: 0;
  list-style: none;
  /* layout */
  display: flex;
  flex-wrap: wrap; /* prevent from breaking on small screens */
  align-items: center;
  justify-content: center;

  & li {
    transition: opacity 1.5s;
    opacity: 0.8;

    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
