@import "../helpers/mixins.css";

[id="Canon"] > .loading {
  /* take up the whole screen */
  @mixin absolute-expand;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  /* theming */
  background-color: var(--dark-3);
  color: var(--white);

  & [class*="non-ideal-state-visual"] {
    max-width: 200px;
    width: 100%;
    & [class*="progress-meter"] {
      background-color: var(--light-1);
    }
  }

  & [class*="non-ideal-state-title"] {
    margin-bottom: var(--gutter-xs);
  }
}
