@import "../helpers/mixins.css";

[id="Canon"] > .app-loading {
  /* take up the whole screen */
  @mixin absolute-expand;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  /* theming */
  background-color: var(--dark-4);
}
