@import "../helpers/mixins.css";

.navbar {
  /* sizing */
  width: 100%;
  max-width: 100%;
  min-height: var(--nav-height);
  padding: 0 var(--gutter-md);
  /* positioning */
  z-index: 21;
  /* layout */
  text-align: left; /* override home.css for now */
  display: flex;
  flex-wrap: wrap; /* prevent from breaking on small screens */
  justify-content: space-between;
  align-items: center;
  /* theming */
  background-color: var(--dark-4);
  color: var(--white);

  /* prevent from breaking on small screens, for now */
  @mixin min-md {
    position: fixed;
    top: 0;

    /* offset nav height */
    & + .cp {
      padding-top: var(--nav-height);
    }
  }
}

/* logo */
.navbar-logo-link {
  display: block;
  padding: var(--gutter-sm);
  margin-left: calc(0px - var(--gutter-sm)); /* offset padding */
}
.navbar-logo-img {
  width: 6.75rem;
}

/* nav list */
.navbar-nav-list {
  @mixin list-reset;
  display: flex;
}

/* search */
.navbar-search-button {
  @mixin button-reset;
  color: var(--white);
}
