@import "../helpers/mixins.css";

.navbar {
  /* sizing */
  width: 100%;
  max-width: 100%;
  height: var(--nav-height);
  padding: 0 var(--gutter-md);
  /* positioning */
  position: relative; /* honor z-index */
  z-index: 21;
  /* layout */
  text-align: left; /* override home.css for now */
  display: flex;
  flex-wrap: wrap; /* prevent from breaking on small screens */
  justify-content: space-between;
  align-items: center;
  /* theming */
  background-color: var(--dark-4);
  color: var(--white);

  /* prevent from breaking on small screens, for now */
  @mixin min-md {
    position: fixed;
    top: 0;

    /* offset nav height */
    & + .cp {
      padding-top: var(--nav-height);
    }
  }

  /* style focus outline */
  & *:focus {
    outline: thin solid var(--accent);
    outline-offset: 0;
  }
}

/* logo */
.navbar-logo-link {
  margin-left: calc(0px - var(--gutter-sm));
  margin-right: calc(0px - var(--gutter-sm));
  padding: 0 var(--gutter-sm);
}
.navbar-logo-img {
  width: 100px;
}

/* main nav list */
.navbar-nav {
  position: relative;
  top: -2px;

  /* position below main navbar on small screens */
  @mixin max-md {
    position: absolute;
    width: 100%;
    min-height: var(--nav-height);
    left: 0;
    right: 0;
    top: var(--nav-height);
    /* theming */
    background-color: var(--dark-3);
    box-shadow:
      0 0.25em 0.5em color(var(--black) a(0.125)),
      0 0.5em 1em color(var(--black) a(0.125));
    /* transition */
    transition:
      opacity 0.2s ease-out,
      transform 0.2s ease-out;

    /* pull menu up when revealed */
    &.is-hidden {
      @mixin visually-hidden;
      transform: translateY(10px);
    }
  }
}

/* list of nav groups */
.navbar-nav-list {
  @mixin list-reset;

  /* horizontal list on non-small screens */
  @mixin min-sm {
    display: flex;
    flex-wrap: wrap;
  }

  /* space out evenly on medium screens */
  @mixin max-md {
    justify-content: space-between;
  }
}

/* toggle button base style */
.navbar-toggle-button {
  @mixin button-reset;
  color: var(--white);

  /* icon sizing & positioning */
  & > .navbar-toggle-button-icon {
    width: 1em;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
}
.navbar-nav-toggle-button {
  /* move menu toggle button to the left on small screens */
  @mixin max-md {
    order: -1;
  }

  /* active state */
  &.is-active {
    background-color: var(--dark-2);
  }
  /* interactions */
  &:hover, &:focus {
    background-color: var(--accent-dark);
  }
}
/* keep search toggle button the same size as the logo on big screens to keep nav centered */
.navbar-search-toggle-button-wrapper {
  @mixin min-md {
    width: 100px;
    text-align: right;
  }
}
.navbar-search-toggle-button {
  position: relative;
  z-index: 1; /* in front of open search */
}

/* position search over the entire screen */
.navbar-search {
  @mixin absolute-expand;
  position: fixed;
  background-color: var(--dark-4);
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;

  &.is-hidden {
    /* transitions */
    opacity: 0;
    transform: scale(1.025);
    /* prevent clicks */
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    pointer-events: none;
    z-index: -999;
  }
}
