@import "../helpers/mixins.css";

.navbar {
  /* sizing */
  width: 100%;
  max-width: 100%;
  min-height: var(--nav-height);
  padding: 0 var(--gutter-md);
  /* positioning */
  position: relative; /* honor z-index */
  z-index: 21;
  /* layout */
  text-align: left; /* override home.css for now */
  display: flex;
  flex-wrap: wrap; /* prevent from breaking on small screens */
  justify-content: space-between;
  align-items: center;
  /* theming */
  background-color: var(--dark-4);
  color: var(--white);

  /* prevent from breaking on small screens, for now */
  @mixin min-md {
    position: fixed;
    top: 0;

    /* offset nav height */
    & + .cp {
      padding-top: var(--nav-height);
    }
  }

  /* style focus outline */
  & *:focus {
    outline: thin solid var(--accent);
    outline-offset: 0;
  }
}

/* logo */
.navbar-logo-link {
  margin-left: calc(0px - var(--gutter-sm));
  margin-right: calc(0px - var(--gutter-sm));
  padding: var(--gutter-sm);
}
.navbar-logo-img {
  width: 100px;
}

/* main nav list */
.navbar-nav {
  position: relative;
  top: -2px;
}
.navbar-nav-list {
  @mixin list-reset;
  display: flex;
  flex-wrap: wrap;
}

/* search */
.navbar-search-button {
  @mixin button-reset;
  color: var(--white);

  /* center nav on big screens */
  @mixin min-md {
    width: 100px;
    text-align: right;
  }
}
