@import "../helpers/mixins.css";

.navbar {
  /* sizing */
  width: 100%;
  max-width: 100%;
  height: var(--nav-height);
  padding: 0 var(--gutter-sm);
  /* positioning */
  position: fixed;
  top: 0;
  z-index: 21;
  /* layout */
  text-align: left; /* override home.css for now */
  display: flex;
  flex-wrap: wrap; /* prevent from breaking on small screens */
  justify-content: space-between;
  align-items: center;
  /* theming */
  background-color: var(--dark-4);
  color: var(--white);

  /* offset nav height */
  & + .cp {
    padding-top: var(--nav-height);
  }

  /* style focus outline */
  & *:focus {
    outline: thin solid var(--accent);
    outline-offset: 0;
  }
}

/* logo */
.navbar-logo-link {
  flex: 1 1 0;
  margin: 0;
  padding: 0;
}
.navbar-logo-img {
  width: 100px;
}

/* main nav list */
.navbar-nav {
  flex: none;
  position: relative;
  top: -2px;

  /* position below main navbar on small screens */
  @mixin max-lg {
    position: absolute;
    width: 100%;
    min-height: var(--nav-height);
    left: 0;
    right: 0;
    top: var(--nav-height);
    /* theming */
    background-color: var(--dark-3);
    box-shadow:
      0 0.25em 0.5em color(var(--black) a(0.125)),
      0 0.5em 1em color(var(--black) a(0.125));
    /* transition */
    transition:
      opacity 0.2s ease-out,
      transform 0.2s ease-out;

    /* pull menu up when revealed */
    &.is-hidden {
      @mixin visually-hidden;
      transform: translateY(10px);
    }
  }
}

/* list of nav groups */
.navbar-nav-list {
  @mixin list-reset;
  justify-content: center;

  /* horizontal list on non-small screens */
  @mixin min-sm {
    display: flex;
    flex-wrap: wrap;
  }

  /* space out evenly on medium screens */
  @mixin max-lg {
    justify-content: space-between;
  }
}

/* toggle button base style */
.navbar-toggle-button {
  @mixin button-reset;
  color: var(--white);

  /* icon sizing & positioning */
  & > .navbar-toggle-button-icon {
    width: 1em;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
}
.navbar-nav-toggle-button {
  /* move menu toggle button to the left on small screens */
  @mixin max-lg {
    order: -1;
  }

  /* active state */
  &.is-active {
    background-color: var(--dark-2);
  }
  /* interactions */
  &:hover, &:focus {
    background-color: var(--accent-dark);
  }
}

/* keep search toggle button the same size as the logo on big screens to keep nav centered */
.navbar-search-toggle-button-wrapper {
  flex: 1 1 0;
  text-align: right;
  & .cp-button {
    border: 0;
    border-radius: 1rem;
    margin-right: 0.5rem;
    text-transform: uppercase;
    &.navbar-user-login {
      & a {
        color: var(--white);
      }
      &.role-1 .bp3-icon {
        color: var(--accent-dark);
      }
      &.role-10 .bp3-icon {
        color: var(--alert-light);
      }
    }
    &.navbar-user-signup {
      background-color: var(--accent-dark);
      & a {
        color: var(--white);
      }
      &:hover, &:focus {
        background-color: var(--accent);
      }
    }
  }
  & .navbar-user-menu-button .bp3-popover-target {
    width: auto;
  }
  & .navbar-search-toggle-button {
    position: relative;
    z-index: 1; /* in front of open search */
    transition: transform 0.1s ease-out;

    &:hover, &:focus {
      transform: scale(1.375);
    }

    &[aria-pressed="true"] {
      transform: scale(1.75);
    }
  }
}

/* position search over the entire screen */
.navbar-search {
  @mixin absolute-expand;
  position: fixed;
  background-color: var(--dark-4);
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;

  &.is-hidden {
    /* transitions */
    opacity: 0;
    transform: scale(1.025);
    /* prevent clicks */
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    pointer-events: none;
    z-index: -999;
  }

  & .cms-profilesearch {
    height: 100vh;
    padding: var(--gutter-xl) var(--gutter-lg) 0;
    & .cms-profilecolumn-title {
      background: var(--dark-4);
      margin-top: var(--gutter-sm);
    }
    & .bp3-non-ideal-state {
      & .bp3-heading {
        color: var(--light-3);
      }
    }
  }
}

/* profile title / top link */
.navbar-top-link-wrapper {
  /* positioning */
  position: absolute;
  text-align: center;
  top: var(--nav-height);
  left: 0;
  right: 0;
  z-index: 1;
  /* sizing */
  width: 100%;
  height: var(--subnav-height);
  background: var(--dark-4);
  /* transitions */
  transition: 0.333s opacity ease-out;

  /* make room for logo on left */
  @mixin min-sm {
    left: 0;
    right: 0;
    width: 100%;
  }

  & .navbar-top-link {
    /* sizing */
    @mixin overflow-ellipsis;
    display: inline-block;
    max-width: 100%;
    padding-left: var(--gutter-sm);
    padding-right: var(--gutter-sm);
    line-height: var(--subnav-height);
    margin-top: calc(var(--subnav-height) * -0.25);
    & img {
      /* prevent button size from increasing */
      max-height: 1.5em;
      /* positioning */
      display: inline-block;
      margin-right: 0.5em;
      margin-top: -0.1em;
      vertical-align: middle;
    }
  }

  /* theming */
  &.is-visible .navbar-top-link {
    color: var(--light-2);
    transition:
      0.15s transform ease-out,
      0.15s color ease-out,
      0.15s filter ease-out;
  }

  /* hidden (default) state */
  &.is-hidden {
    z-index: -1;
    opacity: 0;

    & .navbar-top-link {
      color: var(--dark-3);
      transform: translateY(-33.333%);
      filter: blur(4px);
      transition:
        0.1s transform ease-out,
        0.1s filter ease-out,
        0.1s color ease-out;
    }
  }
}
