@import "../helpers/mixins.css";

.search-column-list,
.search-column-result-list {
  @mixin list-reset;
}

.search-column {
  position: relative;
  transition:
    opacity 1s ease-out 1s;

  /* query, but no results */
  &.is-empty {
    opacity: 0.5;
  }

  /* a filter is selected, and it isn't this one */
  &.is-hidden {
    @mixin visually-hidden;
  }
}

.search-column-title {
  position: sticky;
  top: 0;
  width: calc(100% - var(--gutter));
  margin: 0;
  padding: 1rem 0;
  height: var(--nav-height);
  background-color: var(--dark-4);
}
