@import "../helpers/mixins.css";

.search {
  padding: var(--gutter-lg);
}

.search-label {
  position: relative;
  display: block;
  margin: 1em 0;
}

/* the main input */
.search-input {
  /* sizing */
  padding: 0.25em 1em 0.25em 0;
  width: 100%;
  /* resets */
  border: none;
  border-radius: 0;
  /* theming */
  font-weight: var(--base-font-weight);
  background-color: transparent;
  border-bottom: 2px solid var(--dark-1);
  color: var(--white);
  transition:
    border 0.2s ease-out,
    color 0.2s ease-out;

  &::placeholder {
    color: var(--gray);
  }

  /* IE fix */
  &::-ms-clear {
    opacity: 0;
  }

  /* interactions */
  &:hover {
    border-color: var(--white);

    & + .search-icon path {
      fill: var(--white);
    }
  }
  &[class]:focus {
    outline: none;
    border-bottom-color: var(--accent);

    & + .search-icon path {
      fill: var(--accent);
    }
  }
}

/* search icon */
.search-icon {
  /* sizing & positioning */
  @mixin absolute-vertical-center;
  width: 0.625em;
  left: -0.875em;
  /* prevent from obscuring click */
  pointer-events: none;
  transition: color 0.2s ease-out;

  & svg {
    width: 100%;
    height: auto;
  }

  & path {
    fill: var(--dark-1);
    transition: fill 0.15s ease-out;
  }
}

/* close button */
.search-close-button {
  @mixin absolute-vertical-center;
  @mixin button-reset;
  padding: 0.5em 1em 0.625em 1em;
  right: 0;
  /* theming */
  border-radius: 2em;
  background-color: var(--black);
  color: var(--white);

  & > * {
    display: inline-block;
    vertical-align: middle;
  }

  & .search-close-button-icon {
    position: relative;
    left: -0.25em;

    & svg {
      width: 100%;
      height: auto;
    }
  }

  /* interactions */
  &:hover, &:focus {
    opacity: 1;
  }

  /* visible state */
  &.is-visible {
    transition:
      opacity 0.15s ease-out,
      transform 0.15s ease-out;
  }

  /* hidden state */
  &.is-hidden  {
    z-index: -1;
    opacity: 0;
    transform: scale(0.75) translateY(-50%);
  }
}

/* filters */
.search-filter-container {
  margin-top: -1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-right: 1rem; /* make room for search close button */
}
.search-filter-heading {
  margin: 0 0.5em 0 0;
}
.search-filter-button {
  @mixin button-reset;
  padding: 0.5em;
  color: var(--light-3);
  border-bottom: 1px solid var(--dark-1);
  transform: border-color 0.2s ease-out;

  &:hover, &:focus {
    color: var(--white);
  }

  &[aria-pressed="true"] {
    border-color: var(--white);
    color: var(--white);
  }
}
