.sh-hie--placeholder {
  box-sizing: border-box;
  color: #fff;
  flex: 1 1 auto;
  font-size: var(--gutter-sm);
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
  margin-bottom: 5px;
  padding-left: 5px;
}

.sh-hie--popover {
  & .bp3-popover-content {
    background: var(--dark-4) !important;
    color: var(--white) !important;
    border: 1px solid var(--white);
    border-radius: 0px;
    padding: 0px !important;
    min-width: 0px !important;
  }
  & .bp3-menu {
    border: 0 none !important;
    margin-bottom: 2px !important;
  }
}

.sh-hie--level {
  & .bp3-button {
    margin: 1px;
    color: var(--white) !important;
  }
}

.sm--section--no-results {
  padding: 1rem;
  text-align: center;
  width: 250px;
}

.sh-hie--hielist-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.sh-hie--hielist-htoken {
  margin-left: 0.5rem;
  max-width: 260px;
}
.sh-hie--hielist-content {
  will-change: transform;
}

.sh-hie--list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.sh-hie--option {
  flex: 1 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-width: 270px;

  & > div {
    width: 250px;
  }
}
.sh-hie--descendants {
  flex: 0 0;
}
.sh-hie--hs-icon {
  max-height: 24px;
  max-width: 36px;
  margin: -2px;
  margin-right: 0.5rem;
  white-space: nowrap;
  line-height: 24px;
  overflow: hidden;
}
.bp3-tag .sh-hie--hs-icon {
  width: 20px;
}

.sh-hie--show-all {
  & .sh-hie--level-1 {
    padding-left: 0.5rem;
  }
  & .sh-hie--level-2 {
    padding-left: 1rem;
  }
  & .sh-hie--level-3 {
    padding-left: 1.5rem;
  }
  & .sh-hie--level-4 {
    padding-left: 2rem;
  }
  & .sh-hie--level-5 {
    padding-left: 2.5rem;
  }
}
