@import "../helpers/mixins.css";

/* container */
.tile {
  position: relative;
  padding-top: 50%;
  overflow: hidden;
  background-color: var(--black);

  /* space out adjacent tiles */
  &:not(:last-child) {
    margin-bottom: var(--gutter);
  }
}

/* link */
.tile-link {
  /* sizing & positioning */
  @mixin absolute-expand;
  padding: var(--gutter);
  /* layout */
  display: flex;
  align-items: center;
  z-index: 1;
  /* theming */
  background-color: color(var(--black) a(0.666));
  border: 1px solid var(--dark-2);
  color: var(--light-3);
  /* transitions */
  transition:
    color 0.25s ease-out,
    border-color 0.25s ease-out,
    background-color 0.25s ease-out;

  & .tile-link-title {
    cursor: pointer; /* ie fix */
    transition: transform 0.2s ease-out;
  }

  /* interactions */
  &:hover, &:focus {
    background-color: color(var(--black) a(0.5));
    border-color: var(--gray);
    color: var(--white);
    text-decoration: none;

    & .tile-link-title { transform: scale(1.03); }
    & + .tile-cover-img { transform: none; }
  }

  &:focus {
    outline: none;
    border-color: var(--accent);
  }
}

/* div with a background image */
.tile-cover-img {
  @mixin absolute-expand;
  background-size: cover;
  transform: scale(1.05);
  transition: 0.3s ease-out;
}
