.vb-chart {
  height: calc(100vh - var(--nav-height) - 8rem);
}

.vb-chart-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vb-share-download-options {
  display: flex;
}

.vb-loading {
  height: calc(100vh - var(--nav-height) - 8rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & .vb-loading-text {
    font-size: var(--font-lg);
    margin-bottom: var(gutter-xs);
  }
  & .vb-loading-built {
    font-size: var(--font-sm);
    & a {
      color: inherit;
    }
  }
  & .viz-spinner {
    display: block;
    fill: var(--accent);
    margin: 0 auto 10px;
    & path {
      animation-name: rotate;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      transform-origin: 50%;
    }
    & .middle {
      animation-direction: reverse;
    }
    & .outer {
      animation-duration: 8s;
    }
    & .middle {
      animation-duration: 6s;
    }
    & .inner {
      animation-duration: 4s;
    }
  }
}
