.vb-chart {
  height: calc(100vh - var(--nav-height) - 8rem);
  & .vb-chart-no-data {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
  }
}

.vb-chart-options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--gutter-sm);
}

.vb-share-download-options {
  display: flex;
}
