.selector {
  margin-bottom: 10px;
  & .oec-button-group-items {
    display: flex;
    & .cp-button {
      flex: 1;
      font-size: var(--font-xs) !important;
    }
  }
  & .title {
    font-family: "Montserrat", sans-serif;
    font-size: var(--font-xs);
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: uppercase;
  }

  & .filter-selector {
    width: 100%;
    & .bp3-popover-target {
      display: block;
      & .bp3-button {
        width: 100%;
        justify-content: space-between;
        background: transparent;
        color: var(--white);
        border: 1px solid var(--dark-1) !important;
        border-radius: 0px;
        box-shadow: none;
      }
    }
  }
}

.option {
  display: flex;
  justify-content: space-between;
  white-space: initial;
  -webkit-box-orient: vertical;

  & .country, & .product {
    align-content: center;
    align-items: center;
    display: flex;
  }

  & .box {
    display: flex;
    width: 25px;
    height: 25px;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    min-width: 25px;
    margin-right: 5px;

    & img {
      height: 20px;
    }
  }

  & .flag {
    height: 20px;
    margin-right: 10px;
  }

  & .text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.filter-option {
  max-width: 250px;
  &:hover {
    background: var(--dark-1) !important;
  }
}

.selector .bp3-menu {
  background: var(--dark-4) !important;
  color: var(--white) !important;
  border: 1px solid var(--dark-1);
  border-radius: 0px !important;
  padding: 0px !important;
  max-height: 300px;
  overflow-y: auto;
  min-width: 100px !important;

  & li {
    list-style: none;
    border-radius: 0px !important;
    background: var(--dark-4) !important;
  }

  & .bp3-menu-item {
    border-radius: 0px !important;
    & .bp3-menu-item-label {
      text-transform: uppercase;
    }
  }


}

.bp3-input {
  background: var(--dark-1) !important;
  color: var(--white) !important;
  opacity: 0.7;
}

.bp3-input-group {
  & svg {
    color: var(--white) !important;
  }
}

.bp3-popover-arrow-fill {
  fill: var(--dark-1) !important;
}

.virtual-selector-item {
  height: 50px;
  position: absolute;
  padding: 0px;
  background: var(--dark-2) !important;
  color: var(--white);
  -webkit-box-align: left;
  -ms-flex-align: left;
  -webkit-box-pack: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;

  &.is-selected {
    background: var(--white);
    color: var(--dark-4) !important;
  }

  & .item {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    height: 100%;
    & .item-icon {
      width: 30px;
      height: 30px;
    }
  }

  &.is-selected {
    background: var(--white) !important;
  }

  &:hover {
    background-color: var(--dark-2) !important;
  }

  & .text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-left: 10px;
  }

  & .box {
    width: 25px;
    height: 25px;
    position: relative;
    & img {
      width: 25px;
      height: 25px;
    }
  }
}

.button-virtual-selector {
  background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
