.about-page {
  background-color: var(--dark-4);
  color: var(--white);
  min-height: 100vh;

  & .about-content {
    max-width: 695px;
    margin: 0 auto 0 auto;
    padding-top: var(--nav-height);

    & .about-site {
      & .site-info {
        padding-top: var(--gutter-sm);

        & .info-title {
          letter-spacing: var(--label-letter-spacing);
          font-size: var(--font-xxl);
          font-weight: 200;
          margin-bottom: var(--gutter-sm);
        }

        & .info-text {
          & .text {
            color: var(--gray);
            font-size: var(--font-xs);
            font-weight: 200;
            line-height: 1.5;
            margin-bottom: var(--gutter-sm);

            & .link {
              color: var(--accent);
            }
          }
        }
      }
    }

    & .about-faq {
      & .faq-info {
        padding-top: var(--gutter-sm);

        & .info-title {
          letter-spacing: var(--label-letter-spacing);
          font-size: var(--font-xxl);
          font-weight: 200;
          margin-bottom: var(--gutter-sm);
        }
      }

      & .faq-content {
        & .question {
          & .question-title {
            color: var(--accent-dark);
            font-size: var(--font-md);
            font-weight: bolder;
            margin-top: var(--gutter-md);
            letter-spacing: var(--label-letter-spacing);
            text-transform: uppercase;
          }
          & .question-answer {
            margin-top: var(--gutter-sm);

            & .text {
              color: var(--gray);
              font-size: var(--font-sm);
              font-weight: 200;
            }

            & .link {
              color: var(--accent);
            }

            & .text-link {
              display: flex;
              margin-left: var(--gutter-md);

              & a {
                color: var(--accent);
                margin-top: var(--gutter-xs);
                margin-bottom: var(--gutter-xs);
              }
            }
          }
        }
      }
    }
  }
}

.app-loading {
  background-color: var(--dark-4);
  color: var(--white);
  min-height: 82vh;

  & .bp3-heading {
    display: none;
  }
}
