@import "../../helpers/mixins.css";

.rankings-page {
	background-color: var(--dark-4);
	color: var(--white);
	min-height: 100vh;

	& .rankings-content {
		margin-left: 2rem;
		margin-right: 2rem;
		padding-top: var(--nav-height);

		& .title {
			font-size: var(--font-xxl);
			font-weight: 300;
			line-height: 1.25;
		}

		& .about {
			& p {
				font-size: var(--font-sm);
				font-weight: 300;
				margin-bottom: var(--gutter-sm);
				line-height: 1rem;

				& .link {
					color: var(--accent);
				}
			}

			& .italic {
				font-style: italic;
			}
		}

		& .settings {
			display: flex;
			flex-direction: column;
			background: var(--dark-2);
			margin-top: var(--gutter-md);
			padding: 0 var(--gutter-md);

			& .bp3-button {
				background: rgba(33, 40, 49, 0.5);
				color: var(--white);
				font-size: var(--font-xs);
				opacity: 1;
			}

			& .bp3-button:hover {
				background: rgba(33, 40, 49, 0.7);
			}

			& .is-active {
				background: rgba(33, 40, 49, 1) !important;
				font-weight: var(--field-font-weight);
				opacity: 1;
			}

			& .button-settings {
				display: flex;
				flex-direction: row;

				& .category-settings {
					margin-right: var(--gutter-lg);
				}

				& .country-settings {
					margin-right: var(--gutter-lg);
				}
			}

			& .slider-settings {
				margin-top: var(--gutter-md);
			}

			& .calculate-button {
				margin: var(--gutter-sm) 0;
			}
		}

		& .app-loading {
			margin-top: var(--gutter-lg);
		}

		& h3 {
			display: flex;
			align-items: center;
		}

		& .is-pro:after {
			@mixin font-xxs;
			background-color: var(--accent-dark);
			border-radius: 4px;
			content: "PRO";
			display: inline-block;
			font-weight: bold;
			margin-left: 4px;
			margin-top: -2px;
			padding: 1px 4px;
			vertical-align: top;
		}
	}
}
