@import "../../helpers/mixins.css";

.rankings-page {
  background-color: var(--dark-4);
  color: var(--white);
  min-height: 100vh;

  & .rankings-content {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: var(--nav-height);

    & .title {
      font-size: var(--font-xxl);
      font-weight: 300;
      line-height: 1.25;
    }

    & .about {
      & .text {
        min-width: 20%;
        font-size: var(--font-xs);
        letter-spacing: 0.01em;
        line-height: 1.5;
        margin-right: 0.01rem;

        & .link {
          color: var(--accent);
        }
      }
    }

    & .download {
      display: flex;
      justify-content: center;
      margin-top: var(--gutter-md);

      & .bp3-button {
        background: var(--dark-2);
        color: var(--white);
        border: 0px;
        border-radius: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: var(--gutter-sm);

        & .bp3-button-text {
          padding: var(--button-padding);
          font-size: var(--font-sm);
        }
      }

      & .bp3-button:hover {
        background: var(--dark-3);
      }

      & .last {
        margin-right: 0px;
      }
    }

    & .settings {
      display: flex;
      flex-direction: column;
      background: var(--dark-2);
      margin-top: var(--gutter-md);

      & .bp3-button {
        background: rgba(33, 40, 49, 0.5);
        color: var(--white);
        font-size: var(--font-xs);
        opacity: 1;
      }

      & .bp3-button:hover {
        background: rgba(33, 40, 49, 0.7);
      }

      & .is-active {
        background: rgba(33, 40, 49, 1) !important;
        font-weight: var(--field-font-weight);
        opacity: 1;
      }

      & .button-settings {
        display: flex;
        flex-direction: row;
        margin: 0px 30px;

        & .category-settings {
          margin-right: 50px;
        }
      }

      & .slider-settings {
        margin: 0px 30px;
      }

      & .calculate-button {
        margin: 10px 30px;
      }
    }

    & .ranking {
      & .app-loading {
        margin-top: 50px;
      }
    }
  }
}
