@import "helpers/mixins.css";
@import "helpers/animations.css"; /* make keyframe animations always available */

p > a,
.link,
.cp-hero-credits-link {
  @mixin link-theme;
}

.columns {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.column-1 {
  flex: 1;
  width: 100%;
}

.column-1-2 {
  flex: 1;
}

.column-1-3 {
  flex: 1;
}

.column-1-4 {
  flex: 1;
}

.column-1-5 {
  flex: 1;
}

.column-1-6 {
  flex: 1;
}

.column-5-6 {
  flex: 1;
}

.is-fullwidth {
  width: 100%;
}

.cp-button {
  & a {
    color: var(--label-color);
  }
  &:hover a, &:focus a {
    color: var(--white);
    text-decoration: none;
  }
}

/* --------------------------
// blueprint
-------------------------- */

.bp3-dialog {
  background-color: var(--dark-1) !important;
  color: var(--white);
  & .bp3-dialog-header {
    background-color: var(--dark-2) !important;
    & .bp3-heading {
      @mixin font-sm;
      color: var(--white);
    }
  }
}

.bp3-popover-target {
  width: 100%;
}

.bp3-popover-target.bp3-popover-open {
  width: 100%;
}

.bp3-tooltip {
  max-width: 300px;
}

.bp3-tag-input .bp3-tag {
  background-color: var(--dark-4);
}

.bp3-non-ideal-state {
  & .bp3-heading {
    @mixin font-md;
    color: var(--gray);
  }
}

/* --------------------------
// d3plus
-------------------------- */

/* .d3plus-textBox text {
  font-family: "Fira Sans Condensed", sans-serif !important;
  font-weight: 600 !important;
} */

.d3plus-Message {
  color: var(--white);
}

.d3plus-tooltip {
  & td {
    text-align: right;
    padding: 5px 10px;
    &:first-child {
      text-align: left;
      font-weight: var(--display-font-weight);
    }
    &:last-child {
      text-transform: uppercase;
    }
  }
  z-index: 101 !important;
}

.d3plus-tooltip-title-wrapper {
  display: flex;
  align-items: center;
  & .icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    & img {
      width: 40px;
      height: 40px;
    }
  }
}
