.cp {
  background-color: var(--dark-3);

  & .cp-hero {
    min-height: calc(100vh - 350px - 50px);
  }

  & .cp-multi-column-section {
    background: var(--white);
    & p {
      color: var(--black);
    }
  }

  & p {
    color: var(--white);
    font-size: 14px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.5;
    margin: 0 0 25px 0 !important;
    text-align: justify;
  }

  & .cp-section-heading {
    color: var(--white);
    font-size: 30px;
    text-align: left;
  }

  & .cp-hero-heading {
    font-size: 65px;
  }

  & .cp-main > *:nth-child(even), & .cp-main > *:only-child > *:nth-child(even) {
    background-color: var(--dark-3);
  }
  & .cp-main > *:nth-child(odd), & .cp-main > *:only-child > *:nth-child(odd) {
    background-color: var(--dark-2);
  }
}

.d3plus-Message {
  color: var(--white);
}

.cp-section-paragraph {
  color: var(--white);
}

.cp-viz-container {
  min-height: 60vh;
}

.cp-single-column-section-grouping {
  & .cp-single-column-section {
    & .cp-viz-container {
      min-height: 30vh;
    }
  }
}

/* .d3plus-textBox text {
  font-family: "Fira Sans Condensed", sans-serif !important;
  font-weight: 600 !important;
} */

.cp-select-label {
  color: var(--white);
}

.cp-button-group {
  & .cp-button {
    color: var(--white);
    background-color: transparent;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    border-radius: 0px;
    font-size: 11px;
    &:hover {
      background-color: var(--black);
    }
  }
}
