.cp {
  background-color: #212831;

  & .cp-hero {
    min-height: calc(100vh - 350px - 50px);
  }

  & .cp-multi-column-section {
    background: #ffffff !important;
    & p {
      color: #120f1b;
    }
  }

  & p {
    color: white;
    font-size: 14px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.5;
    margin: 0 0 25px 0 !important;
    text-align: justify;
  }

  & .cp-section-heading {
    color: #ffffff;
    font-size: 30px;
    text-align: left;
  }

  & .cp-hero-heading {
    font-size: 65px;
  }

  & .cp-main > *:nth-child(even), & .cp-main > *:only-child > *:nth-child(even) {
    background-color: #212831;
  }
  & .cp-main > *:nth-child(odd), & .cp-main > *:only-child > *:nth-child(odd) {
    background-color: #28313d;
  }
}

.d3plus-Message {
  color: #ffffff;
}

.cp-section-paragraph {
  color: #ffffff;
}

.cp-viz-container {
  min-height: 60vh;
}

.cp-single-column-section-grouping {
  & .cp-single-column-section {
    & .cp-viz-container {
      min-height: 30vh;
    }
  }
}

/* .d3plus-textBox text {
  font-family: "Fira Sans Condensed", sans-serif !important;
  font-weight: 600 !important;
} */

.cp-select-label {
  color: #ffffff;
}

.cp-button-group {
  & .cp-button {
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    border-radius: 0px;
    font-size: 11px;
    &:hover {
      background-color: #120f1b;
    }
  }
}
