.home {
  text-align: center;
  background: var(--dark-2) url(/images/background_home.png) repeat;
  min-height: 100vh;
  overflow: hidden; /* prevent the ring from expanding the viewport */
  /* center the world */
  display: flex;
  flex-direction: column;

  & .ring {
    border-radius: 50%;
    background-color: var(--dark-3);
    border: 1px solid var(--gray);
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    & .launch-video {
      transition: opacity 0.5s;
      cursor: pointer;
      position: absolute;
      bottom: 17%;
      opacity: 0.6;
      right: 22%;
      color: var(--white);
    }

    & .big-logo {
      left: 13%;
      position: absolute;
      top: 23%;
      width: 38%;
      z-index: 1;
    }

    & .info,
    & .search-home {
      color: var(--white);
      font-size: var(--font-md);
      font-weight: 300;
    }

    & .info {
      /* sizing */
      display: block;
      width: 36%;
      /* positioning */
      position: absolute;
      bottom: 18%;
      right: 14%;
      /* typography */
      line-height: 1.4;
      text-align: center;
      text-shadow: -2px 0 5px var(--dark-3);
    }

    & .search-home {
      /* sizing */
      display: block;
      width: 37%;
      /* positioning */
      position: absolute;
      bottom: 10%;
      left: 33%;
      padding-bottom: 3px;
      /* theming */
      border-bottom: 1px solid var(--dark-1);
      border-radius: 2px;
      opacity: 0.8;
      /* cursor: pointer; */ /* it's not a link */
    }

    & .more-info {
      /* positioning */
      display: inline-block;
      margin: 2%;
      /* typography */
      font-size: var(--font-xs);
      font-weight: 400;
      text-transform: uppercase;
      /* theming */
      border-bottom: 1px solid transparent;
      color: var(--gray);
      opacity: 0.8;
      /* transitions */
      transition: color 1s, opacity 0.5s;
    }

    & .observatory {
      width: 100%;
      position: absolute;
      left: 8%;
      top: 14%;
    }

    & .star-rotate {
      animation: spin-right 120s linear infinite;
      left: 68%;
      margin-left: -75%;
      margin-top: -75%;
      opacity: 0.4;
      position: absolute;
      top: 64%;
    }
  }

  & .bg-frame {
    height: 600px;
    position: relative;
    margin: auto;
    width: 600px;
    max-width: 90vw;
    max-height: 90vw;
    pointer-events: none;

    & .ring-pulse {
      animation: pulse 8s ease-in infinite;
      border-radius: 50%;
      border: 1px solid var(--white);
      height: 100%;
      position: absolute;
      width: 100%;
    }
    & .echo-ring {
      animation: pulse 8s ease-in 4s infinite;
    }
  }
}

@keyframes pulse {
  0%   { transform: scale(1); opacity: 0.1; }
  100% { transform: scale(2); opacity: 0; }
}

@keyframes spin-right {
  0%   { opacity: 0.2; }
  20%  { opacity: 0.6; }
  50%  { opacity: 0.3; }
  90%  { opacity: 0.5; }
  100% { opacity: 0.2; transform: rotate(360deg); }
}
