#Home {
  text-align: center;
  background: #272f38 url(/images/background_home.png) repeat;
  height: 100vh;
  -webkit-font-smoothing: antialiased;

  p {
    letter-spacing: 0.01em;
  }

  & .ring {
    border-radius: 50%;
    background-color: #212831;
    border: 1px solid #99BCD1;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    & .launch-video {
      transition: opacity 0.5s;
      cursor: pointer;
      position: absolute;
      bottom: 17%;
      opacity: 0.6;
      right: 22%;
      color: white;
    }

    & .big-logo {
      left: 13%;
      position: absolute;
      top: 23%;
      width: 38%;
      z-index: 99;
    }

    & .info {
      color: white;
      display: block;
      font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-size: 17.14286px;
      font-weight: 300;
      line-height: 1.4;
      position: absolute;
      -webkit-text-shadow: -2px 0 5px #212831;
      -moz-text-shadow: -2px 0 5px #212831;
      text-shadow: -2px 0 5px #212831;
      text-align: center;
      bottom: 18%;
      right: 14%;
      width: 36%;
    }

    & .search-home {
      border-radius: 2px;
      bottom: 10%;
      border-bottom: 1px solid #63737f;
      color: #fff;
      cursor: pointer;
      display: block;
      font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-size: 18.75px;
      font-weight: 300;
      left: 33%;
      opacity: 0.8;
      padding-bottom: 3px;
      position: absolute;
      width: 37%;
    }

    & .more-info {
      transition: color 1s, opacity 0.5s;
      border-bottom: 1px solid transparent;
      color: #99BCD1;
      display: inline-block;
      font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      font-size: 75%;
      margin: 2% 2% 2% 2%;
      opacity: 0.8;
      text-transform: uppercase;
    }

    & .observatory {
      left: 8%;
      position: absolute;
      top: 14%;
      width: 100%;
    }

    & .star-rotate {
      animation: spin-right 120s linear infinite;
      left: 68%;
      margin-left: -75%;
      margin-top: -75%;
      opacity: 0.4;
      position: absolute;
      top: 64%;
      width: 150%;
      z-index: 0;
    }
  }

  & .bg-frame {
    height: 600px;
    position: relative;
    margin: auto;
    width: 600px;
    & .ring-pulse {
      animation: pulse 8s ease-in infinite;
      border-radius: 50%;
      border: 1px solid var(--white);
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
    & .echo-ring {
      animation: pulse 8s ease-in 4s infinite;
    }
  }
}

.font-xxs {
  font-size: 10px;
}



.locale-options {
  list-style: none;
  display: flex;
  margin-left: -40px;
  align-items: center;
  justify-content: center;
  & li {
    color: white;
    transition: opacity 1.5s;
    opacity: 0.8;
    font-size: 10px;
    margin: 5px 10px;
    & a {
      color: #99BCD1;
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.1;   }
    100% {
      -webkit-transform: scale(2);
      -ms-transform: scale(2);
      transform: scale(2);
      opacity: 0;   }
}

@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.1;   }
    100% {
      -webkit-transform: scale(2);
      -ms-transform: scale(2);
      transform: scale(2);
      opacity: 0;   }
}

@-o-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.1;   }
    100% {
      -webkit-transform: scale(2);
      -ms-transform: scale(2);
      transform: scale(2);
      opacity: 0;   }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.1;   }
    100% {
      -webkit-transform: scale(2);
      -ms-transform: scale(2);
      transform: scale(2);
      opacity: 0;   }
}

@-webkit-keyframes spin-right {
  0% {
    opacity: 0.2;   }
    20% {
      opacity: 0.6;   }
      50% {
        opacity: 0.3;   }
        90% {
          opacity: 0.5;   }
          100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            opacity: 0.2;   }
}

@-moz-keyframes spin-right {
  0% {
    opacity: 0.2;   }
    20% {
      opacity: 0.6;   }
      50% {
        opacity: 0.3;   }
        90% {
          opacity: 0.5;   }
          100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            opacity: 0.2;   }
}

@-o-keyframes spin-right {
  0% {
    opacity: 0.2;   }
    20% {
      opacity: 0.6;   }
      50% {
        opacity: 0.3;   }
        90% {
          opacity: 0.5;   }
          100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            opacity: 0.2;   }
}

@keyframes spin-right {
  0% {
    opacity: 0.2;   }
    20% {
      opacity: 0.6;   }
      50% {
        opacity: 0.3;   }
        90% {
          opacity: 0.5;   }
          100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            opacity: 0.2;   }
}

