@import "../helpers/mixins.css";

.welcome {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background-color: var(--dark-2);
  /* push form to bottom */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* big spinning background */
.welcome-bg {
  @mixin absolute-expand;
  z-index: -1;
  opacity: 0.4;
  overflow: hidden;
}
.welcome-bg-img {
  /* sizing */
  display: block;
  width: 100%;
  /* positioning */
  margin-left: auto;
  margin-right: auto;
  margin-top: -50%;
  /* animations */
  animation: spin-right 120s linear infinite;

  @mixin min-sm {
    width: 80%;
    margin-top: -40%;
  }
  @mixin min-lg {
    width: 70%;
    margin-top: -35%;
  }
}

/* introduction */
.welcome-intro {
  /* sizing */
  padding-top: 12vh;
  padding-bottom: 12vh;
  /* positioning */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* theming */
  color: var(--light-3);
}
.welcome-intro-heading {
  /* sizing */
  padding-left: var(--gutter-md);
  padding-right: var(--gutter-md);
  /* typography */
  @mixin font-smoothing;
  font-weight: var(--label-font-weight);

  & > * {
    display: block;
  }
}
.welcome-intro-heading-logo {
  /* positioning */
  margin: var(--gutter-sm) auto;
  /* sizing */
  &, & > * {
    width: 13rem;
    max-width: 100%;
  }
  /* hide the the */
  overflow: hidden;
  & > * {
    margin-top: -10%;
  }
}

/* logos */
.welcome-intro-logo-list {
  @mixin list-reset;
}
.welcome-intro-logo-item {
  width: auto;
  display: inline-block;
}
.welcome-intro-logo-link {
  display: block;
  padding: 1rem;
  /* transitions */
  opacity: 0.75;
  transition:
    opacity 0.1s ease-out,
    transform 0.1s ease-out;

  &:hover, &:focus {
    opacity: 1;
    transform: scale(1.075);
  }
}
.welcome-intro-logo-img {
  max-height: 1.875rem;
}

/* form */
.welcome-form-outer {
  background-color: var(--dark-3);
  padding: 0 var(--gutter-md) var(--gutter-lg) var(--gutter-md);
  position: relative;

  &:before {
    content: "";
    /* sizing */
    display: block;
    width: 100%;
    height: 10vh;
    /* positioning */
    position: absolute;
    top: -10vh;
    left: 0;
    right: 0;
    /* theming */
    background-color: var(--dark-3);
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
  }
}
