@import "../../helpers/mixins.css";

.covid-profile {
  background-color: var(--dark-3);
  color: var(--white);
  margin-top: var(--nav-height);

  & .covid-content {
    background-color: var(--dark-3);
    align-items: flex-start;
    padding: 0.75rem 1.5rem;
    width: 100%;
  }

  & .covid-title {
    margin-top: var(--gutter-sm);
    margin-bottom: var(--gutter-sm);
    text-align: center;
  }

  & .covid-columns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    & .covid-column {
      flex: 1;
      padding: var(--gutter-sm);
      &.aside {
        max-width: 250px;
        min-width: 250px;
        transition: margin 0.7s ease 0s;
        & .controls {
          width: 100%;
          height: auto;
          & label {
            font-size: var(--font-lg);
          }
        }
        & .oec-button-group-items {
          margin-bottom: 0 !important;
          & .cp-button {
            flex: 1;
          }
        }

        & .covid-selector {
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: var(--gutter-sm);

          & .covid-selector-config {
            width: 100%;
            align-items: center;
            justify-content: left;
            display: flex;
            flex-wrap: wrap;

            & .covid-selector-title {
              font-family: "Montserrat", sans-serif;
              font-size: 0.7rem;
              margin-bottom: 5px;
              margin-top: 10px;
              text-transform: uppercase;
            }

            & .oec-button-group.cp-button-group {
              width: 100%
            }
          }
        }
      }

      & .covid-chart {
        height: calc(100vh - var(--nav-height) - 8rem);
        & .covid-chart-no-data {
          align-items: center;
          display: flex;
          height: inherit;
          justify-content: center;
        }
      }

      & .covid-legend {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }

      & .covid-selector-title {
        font-family: "Montserrat", sans-serif;
        font-size: 0.7rem;
        margin-bottom: 5px;
        margin-top: 10px;
        text-transform: uppercase;
      }
    }

    & .covid-subtitle {
      margin-top: var(--gutter-sm);
      text-align: left;
      text-transform: uppercase;
    }

    & .covid-reference {
      font-size: var(--font-sm);
      text-align: center;
    }
  }

  &.is-light {
    background-color: var(--light-2);
    color: var(--dark-3);

    & .covid-content {
      background-color: var(--light-2);
      color: var(--dark-3);

      & .button-virtual-selector {
        color: var(--dark-3);
      }

      & .bp3-multi-select {
        background: var(--dark-3);
        opacity: 1;
      }
    }
  }

}

@media (max-width: 700px) {
  .covid-profile {

    & .covid-content {
      background-color: var(--dark-3);
      padding: 0;
      width: 100%;
    }

    & .covid-title {
      font-size: var(--font-lg);
    }

    & .covid-columns {
      flex-direction: column-reverse;
      & .covid-column.aside {
        max-width: 100%;
      }
    }

    & .covid-chart {
      height: calc(60vh - var(--nav-height))!important;
      padding: 0;
    }

    & .covid-chart-options {
      flex-direction: row;
      flex-wrap: wrap;
      & .oec-button-group-title {
        margin: 0;
      }
    }
  }
}

@media (min-width: 2560px) {
  .covid-profile {

    & .covid-content {
      background-color: var(--dark-3);
      width: 100%;
    }

    & .covid-title {
      font-size: var(--font-xl);
    }

    & .covid-columns {
      & .covid-reference {
        font-size: var(--font-lg);
      }
    }

    & .covid-chart {
      height: calc(100vh - var(--nav-height));
      padding: 0;
    }
  }
}

