@import "../../helpers/mixins.css";

/* general section overrides */
.cp-section-heading {
  font-size: var(--font-xxl);
}
.cp-section-paragraph {
  line-height: 1.5;

  &:not(:last-child) {
    margin-bottom: 0.75em;
  }
}
.cp-stat-value-text {
  font-weight: 300;
}


/* hero */
.cp-hero {
  min-height: calc(40vh - var(--nav-height));
  position: relative;
  z-index: 1;

  & .cp-hero-inner {
    flex-direction: row-reverse; /* reversed layout */
    padding: 0; /* allow smaller vertical height */
  }
  & .cp-viz-figure {
    min-height: calc(25vh);
  }

  /* temporary background image */
  /* TODO: remove/refactor once hero images are in canon */
  &:before {
    @mixin absolute-expand;
    content: "";
    display: block;
    background:
      linear-gradient(
        color( var(--dark-3) a(0.875)) 0%,
        color( var(--dark-3) a(0.666) ) 100%
      ),
      url(/images/headers/country/usa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}


/* about section */
.cp-grouping > .cp-multi-column-section:first-child {
  background-color: var(--white);
  color: var(--black);

  & .cp-multi-column-section-heading {
    color: var(--dark-1);
  }

  /* override heading default */
  & .cp-multi-column-section-paragraph {
    font-weight: 400; /* override --base-font-size (300), which works better against dark backgrounds */
  }
}


/* groupings */
.cp-grouping-section-heading {
  text-transform: uppercase;
}


/* default (sidebar) layout */
.cp-default-section-inner {
  padding-bottom: var(--gutter-lg); /* prevent overflow bug */

  & .cp-section-paragraph {
    @mixin font-xs;
  }
}
/* fudge visualizations below section title */
.cp-default-section-figure {
  @mixin min-sm {
    margin-top: 3.325rem;
  }
}


/* viz height overrides */
.cp-single-column-section-grouping .cp-viz-container {
  min-height: 30vh;
}


/* form field overrides */
.cp-button-group > .cp-button {
  /* remove border from adjacent buttons */
  &:not(:first-child) {
    border-left: none;
  }
  /* active state */
  &.is-active {
    color: var(--accent);
    background-color: var(--button-hover-bg-color); /* TODO: remove once this is fixed in canon */
  }
  /* interactions */
  &:hover, &:focus {
    border-color: inherit;
  }
}

/* adjust viz options style */
.cp-viz-container .cp-button-group > .cp-button {
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: none;
  background-color: var(--button-hover-bg-color);

  /* as if `icon-hidden` prop were set */
  & > .cp-button-icon { margin: 0; }
  & > .cp-button-text { @mixin visually-hidden; }
}

/* TODO: delete when these lines are added to canon */
.cp-button-group > .cp-button:hover, .cp-button-group > .cp-button:focus { border-color: var(--button-hover-border-color); }
.cp-button > .cp-button-icon { vertical-align: middle; position: relative; }

/* --------------------------
// d3plus
-------------------------- */

/* .d3plus-textBox text {
  font-family: "Fira Sans Condensed", sans-serif !important;
  font-weight: 600 !important;
} */

.d3plus-Message {
  color: var(--white);
}

.d3plus-tooltip {
  & td {
    text-align: right;
    padding: 5px 10px;
    &:first-child {
      text-align: left;
      font-weight: 700;
    }
    &:last-child {
      text-transform: uppercase;
    }
  }
}

.d3plus-tooltip-title-wrapper {
  display: flex;
  align-items: center;
  & .icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    & img {
      width: 40px;
      height: 40px;
    }
  }
}
