@import "../../helpers/mixins.css";

@media print {
  [class*="cp-"] {
    background: #fff !important;
    color: #000 !important;
    text-shadow: none !important;
  }
  .cp-hero-inner, .cp-hero-inner * {
    background: transparent !important;
  }
  .navbar, .cp-hero-credits, .Options, .footer {
    display: none !important;
  }
  .cp {
    padding-top: 0 !important;
  }
  .cp-viz-title {
    text-overflow: auto !important;
    white-space: initial !important;
  }
}

/* general section overrides */
.cp-section-heading {
  font-size: var(--font-xxl);
}

/* paragraphs */
.cp-section-paragraph {
  line-height: 1.5;

  &:not(:last-child) {
    margin-bottom: 0.75em;
  }

  /* underlined text (why?) */
  & u {
    text-decoration-color: var(--dark-1); /* not widely supported, but degrades gracefully */
  }
}

/* stats */
.cp-stat-value-text {
  font-weight: var(--base-font-weight);
}
.cp-section:not(.cp-hero-section) .cp-stat a {
  @mixin link-theme;
}

/* scale down fonts for long stats */
.cp-stat-value-text.length-lg           { font-size: var(--font-lg); }
.cp-stat-value-text[class*="length-x"]  { font-size: var(--font-md); }
.cp-stat-subtitle[class*="length-x"]    { font-size: var(--font-xxs); }

.cp-hero-figure {
  padding-bottom: 0;
  padding-top: 0;
}

.cp-hero-credits {
  margin-bottom: 0.5rem;
}

/* hero */
.cp-hero {
  min-height: auto;
  position: relative;
  z-index: 1;

  @mixin min-sm {
    min-height: 16rem;
  }

  & .cp-hero-inner {
    flex-direction: row-reverse; /* reversed layout */
    padding: 0; /* allow smaller vertical height */
    margin-top: var(--gutter-sm);
    margin-bottom: var(--gutter-sm);

    @mixin min-sm {
      margin-top: var(--gutter-md);
      margin-bottom: 0;
    }
  }
  & .cp-viz-figure {
    min-height: calc(25vh);
  }

  /* make flag/icon smaller */
  & .cp-hero-heading img {
    width: 50px;
    vertical-align: middle;
  }

  /* temporary background image */
  /* TODO: remove/refactor once hero images are in canon */
  &:before {
    @mixin absolute-expand;
    content: "";
    display: block;
    background:
      linear-gradient(
        color( var(--dark-4) a(0.875)) 0%,
        color( var(--dark-4) a(0.666) ) 100%
      ),
      url(/images/headers/country/usa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

/* moves reset button to top right */
.cp-default-section {
  position: relative;
}
.cp-var-reset-button {
  position: absolute; top: 20px; right: 20px;
}

/* about section */
.cp-grouping > .cp-section.cp-multi-column-section:first-child {
  background-color: var(--white);
  color: var(--black);

  & .cp-multi-column-section-heading {
    color: var(--dark-2);
  }

  /* override heading default */
  & .cp-multi-column-section-paragraph {
    font-weight: var(--label-font-weight); /* override --base-font-size (300), which works better against dark backgrounds */
  }
}


/* groupings */
.cp-grouping-section-heading {
  text-transform: uppercase;
}

/* default (sidebar) layout */
.cp-default-section-inner {
  padding-bottom: var(--gutter-lg); /* prevent overflow bug */

  & .cp-section-paragraph {
    @mixin font-xs;
  }
}
/* fudge visualizations below section title */
.cp-default-section-figure {
  @mixin min-sm {
    margin-top: 3.325rem;
  }
}


/* viz height overrides */
.cp-single-column-section-grouping .cp-viz-container {
  min-height: 30vh;
}


/* form field overrides */
.cp-button-group > .cp-button {
  /* remove border from adjacent buttons */
  &:not(:first-child) {
    border-left: none;
  }
  /* active state */
  &.is-active {
    color: var(--accent);
    background-color: var(--button-hover-bg-color); /* TODO: remove once this is fixed in canon */
  }
  /* interactions */
  &:hover, &:focus {
    border-color: inherit;
  }
}

/* adjust viz options style */
.cp-viz-container .cp-button-group > .cp-button {
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: none;
  background-color: var(--dark-4);

  /* as if `icon-hidden` prop were set */
  & > .cp-button-icon { margin: 0; }
  & > .cp-button-text { @mixin visually-hidden; }
}

/* TODO: delete when these lines are added to canon */
.cp-button-group > .cp-button:hover, .cp-button-group > .cp-button:focus { border-color: var(--button-hover-border-color); }
.cp-button > .cp-button-icon { vertical-align: middle; position: relative; }

/* --------------------------
// d3plus
-------------------------- */

/* .d3plus-textBox text {
  font-family: "Fira Sans Condensed", sans-serif !important;
  font-weight: 600 !important;
} */

.d3plus-Message {
  color: var(--white);
}

.d3plus-tooltip {
  & td {
    text-align: right;
    padding: 5px 10px;
    &:first-child {
      text-align: left;
      font-weight: var(--display-font-weight);
    }
    &:last-child {
      text-transform: uppercase;
    }
  }
}

.d3plus-tooltip-title-wrapper {
  display: flex;
  align-items: center;
  & .icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    & img {
      width: 40px;
      height: 40px;
    }
  }
}


.cp-viz-container > .cp-viz-header > .cp-viz-title:not(:last-child) {
  text-align: center;
  display: block;
  flex: 1;
  font-size: 18px;
}

.cp-section {
  padding: var(--gutter-sm);
}

.cp-section-content {
  /*width: 18rem;*/
}

/* subnav tweaks */
@mixin min-sm {
  .cp-default-section-figure {
    width: calc(100% - var(--sidebar-width) - var(--gutter-md));
  }

  .cp-subnav.is-static {
    background-color: color(var(--dark-4) a(0.75));
  }
  .cp-subnav.is-fixed {
    top: var(--nav-height);
  }
}
