.subnational {
  background-color: var(--dark-2);
  & .subnational-content {
    color: var(--light-3);
    padding: var(--gutter-xl) var(--gutter-lg) var(--gutter-lg) var(--gutter-lg);
    position: relative;
    & h1{
      text-align: center;
    }
  }
}
