.subnational-list{
  height: auto;
  overflow: hidden;
  & .subnational-list-container {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    & ul {
      list-style: none;
      padding: 0;
      column-count: 2;
      list-style-type: none;
      & li {
        list-style-type: none;
        & a {
          color: white;
        }
      }
    }
  }
}
