.subnational-map {
  & h4 {
    color: steelblue;
    margin: 0 0 10px 0;
  }
  & .geomap-subnational-viz{
    & .d3plus-Path {
      cursor: pointer;
      &:hover {
        fill: var(--accent);
      }
    }
  }
}
