.prediction-container-outer {
  background-color: var(--dark-4);
  color: var(--light-3);
  margin: calc(var(--gutter-lg)*2) var(--gutter-lg) var(--gutter-lg) var(--gutter-lg);
  padding: var(--gutter-sm);
  position: relative;

  & .bp3-navbar {
    background: var(--dark-4);
    & h1 {
      margin: 0;
    }
    & a, & a.bp3-active, & a:hover {
      color: var(--light-3);
    }
    & .bp3-navbar-divider {
      border-color: var(--dark-1);
    }
  }

  & .tariffs-datatable-container {
    min-height: 400px;
    margin: 20px 0 0 0;

    /* ---------------------------
    Datatable styles
    --------------------------- */
    & .rt-td {
      & .number {
        text-align: right;
      }
    }
  }

  & .prediction-controls-container {
    margin: 10px 0 0 0;
  }

}

.d3plus-tooltip {
  z-index: 9 !important;
}

.bp3-tag-input {
  & .bp3-button {
    & .bp3-icon {
      color: var(--light-3);
    }
  }
}

